In [1]:
import pandas as pd
from microns_phase3 import nda, utils

Connecting microns@db.datajoint.com:3306

Could not create the ~log table
Could not access table `microns_phase3_nda`.`~log`
Could not create the ~log table
Could not access table `microns_phase3_nda`.`~log`

In [5]:
areas = nda.AreaMembership.fetch(format='frame').reset_index()
areas.to_csv('area_memberships.csv')

In [6]:
areas[areas['brain_area'] == 'V1']

        session  scan_idx  unit_id brain_area
18            4         7       19         V1
21            4         7       22         V1
22            4         7       23         V1
23            4         7       24         V1
24            4         7       25         V1
...         ...       ...      ...        ...
168964        9         6     5501         V1
168965        9         6     5502         V1
168966        9         6     5503         V1
168967        9         6     5504         V1
168968        9         6     5505         V1

[121295 rows x 4 columns]